*.swp
*.swo
*.lck
*.dat

.mxproject
.project
.settings

mb-backups
fp-info-cache
#auto_saved_files#

build
test_out
.scratch/
__pycache__
config/overlay/lib
config/overlay/etc/dropbear/dropbear_*_host_key
config/overlay/root/.ssh/authorized_keys
